// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header styles
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22.5px 0 27.5px;
  z-index: $z-header;
  transition: all 0.3s ease-in-out;
  &:not(.scrolled)::before {
    @include mq("tablet") {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 134px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.47) 31%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: -1;
    }
  }
  @include mq("tablet") {
  }
  &.hide {
    // transform: translateY(-300px);
  }
  &.light {
    .nav {
      .btn-toggle-mobile {
        @include mq("tablet") {
          span {
            border-color: $white;
          }
        }
      }
    }
  }
  &.scrolled {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    .nav {
      .logo-link {
        top: 15px;
        .logo-original {
          display: none;
        }
        .logo-dark {
          display: block;
          @include mq("tablet", "max") {
            width: 62px;
          }
        }
      }
      .menu-items .menu-item {
        a {
          color: $dark_green;
          &:hover::after {
            background-color: $dark_green;
          }
        }
        &-has-children::after {
          border-top-color: $dark_green;
        }
      }
      .btn-toggle-mobile {
        span {
          border-color: $black;
        }
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mq("tablet") {
      justify-content: space-between;
      padding: 0 30px 0 41.5px;
    }
    .logo-link {
      position: absolute;
      top: 30px;
      left: 50%;
      transition: none;
      transform: translateX(-50%);
      .logo-dark {
        @include mq("tablet") {
          display: none;
        }
      }
      .logo-original {
        @include mq("tablet", "max") {
          display: none;
        }
      }
      @include mq("tablet") {
        top: 34px;
      }
    }
    #header-menu-left {
      @media only screen and (min-width: 1300px) {
        margin-right: auto;
      }
    }
    .menu-items {
      display: none;
      padding-left: 0;
      align-items: center;
      list-style: none;
      @media only screen and (min-width: 1300px) {
        display: flex;
      }
      .menu-item {
        margin: 0 7px;
        &::before {
          content: none;
        }
        a {
          position: relative;
          color: $white;
          font: 600 13px/22px "Noir Std", sans-serif;
          text-transform: uppercase;
          &::after {
            position: absolute;
            left: 0;
            bottom: -2px;
            content: "";
            width: 0;
            height: 2px;
            background: $white;
            transition: width 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
        &-has-children {
          position: relative;
          padding-right: 20px;
          &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border: 0 solid #0000;
            border-left-width: 4px;
            border-right-width: 4px;
            border-top: 7px solid $white;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          &:hover {
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
            }
          }
          .dropdown-menu {
            position: absolute;
            margin-top: 10px;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            min-width: 200px;
            background-color: $white;
            transition: all 0.3s ease-in-out;
            a {
              color: $black;
            }
            .nav-item {
              padding: 10px 0;
            }
          }
        }
      }
      &.right-menu {
        margin-left: auto;
        margin-right: 20px;
      }
    }
    .btn-toggle-mobile {
      @include mq("tablet") {
        margin-right: 30px;
      }
      span {
        margin-bottom: 4px;
        display: block;
        width: 48px;
        height: 0;
        border: 2px solid $black;
        transition: all 0.3s ease-in-out;
        @include mq("tablet") {
          border-color: $white;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:hover {
        span {
          border-color: $dark_green;
        }
      }
    }
    .btn-reserve {
      padding: 20px;
      display: block;
      border-color: $black;
      .rect {
        display: none;
      }
      @include mq("tablet", "max") {
        position: fixed;
        bottom: 0;
        left: 50%;
        padding: 20px 25px;
        width: 100%;
        max-width: 375px;
        background: $blue;
        border: 1px solid $black;
        color: #fff;
        transform: translateX(-50%);
        z-index: 20;
      }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        min-width: 200px;
      }
    }
  }
}
#mobile-nav {
  position: fixed;
  padding: 20px;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: -webkit-fill-available;
  background: $white;
  overflow: auto;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  &.is-active {
    left: 0;
  }
  .mobile-nav__header {
    text-align: center;
    .logo-link {
      display: inline-block;
      margin: 0;
    }
  }
  .nav-close {
    position: absolute;
    top: 25px;
    right: 25px;
    svg {
      transition: all 0.3s ease-in-out;
    }
    &:hover svg {
      transform: scale(0.8);
    }
  }
  ul {
    padding: 0;
    li {
      &::before {
        content: none;
      }
    }
  }
  .menu-items {
    margin-top: 70px;
    .menu-item {
      padding: 0;
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        font: 600 22px/47.6px "Noir Std", sans-serif;
        letter-spacing: 0.075em;
        color: $dark_green;
        text-align: center;
        text-transform: uppercase;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: $dark_green;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    .dropdown-menu {
      margin-top: 10px;
    }
  }
  .sub-menus {
    margin-top: 15px;
    padding-top: 15px;
    li {
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        font: 600 14px/30px "Noir Std", sans-serif;
        color: $dark_green;
        text-align: center;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: $dark_green;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .social-share {
    margin-top: 30px;
    .social-link {
      margin-right: 30px;
    }
  }
  .btn-book {
    margin-top: 50px;
    width: 100%;
  }
}
